.home {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  width: 100%;
  color: blue;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0px 0px 20px 20px;
}

.addedElementsWrapper {
  width: 100%;
  .addedElement {
    margin-top: 10px;
    width: 100%;
    background-color: greenyellow;
    color: black;
    min-height: 20px;
  }
}
